@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-image: url('pattern-background-desktop.svg');
    
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh
}

.container{
    background-color: white;
    text-align: center;
    overflow:hidden;
    width: 300px;
    height: 450px;
    border-radius: 15px;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.container img{
    width: 100%;
}
/* Order summary */
.order h3{
    padding-top: 15px;
    font-size: 20px;
    font: bold;
    font-weight: 10px;
}


.description{
    font-size: 12px;
    margin: 1px 20px;
    padding: 5px 15px;
    color: dimgray;
    
}

/* music */
.my{
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.my ul li{
    list-style: none;
    margin-right: 10px;
    font-size: 10px;    
}

.my ul{
    display: flex;
    
}
.my a{
    margin-right: 10px;
}
.my ul li i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height:35px;
    background-color:#dfe7f9 ;
    border-radius: 100%;
    font-size: 15px;
    margin-left: 15px;
}

/* buttons */
.btn{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding: 5px 15px;
    
    
}
.btn button{
    margin: 5px;
    padding: 13px 10px;
    border-radius: 12px;
    border: none;
    font-size: 12px;

}

.btn1{
    margin-top: 10px;
    background-color: #382ae3;
    color: white;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn2{
    background: none;
    color: dimgray;
}